* {
    * {
    font-family: 'Poppins', sans-serif;
}
}
html, body {
    background-color: #f0f0ea;
    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
header {
    background-color: #8aabca;
    height: 45px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    width: 100%;
}
p {
    
    font-size: 100%;
    margin: 0;
    font-weight: bold;
    
}
.realheader {
    height: 45px;
    width: 100%;  
    background-color: black;
    color:#f0f0ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    
}
.realheader a{
    font-family: Arial;
    align-items: center;
    display: flex;
    height: 100%;
    margin: 30px;
    min-width: 100px;
    justify-content: center;
    text-decoration: none;
    color:#f0f0ea;
    transition: background-color 0.18s  ease-in-out  ;
    border-radius: 3px;
    
    

    
}

.realheader a:hover {
    background-color: #333333 ;

}

main{
    height: 3000px;
    width: 100%;
    
}
footer {
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: grey;
    

}

    







